<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; @Config.CompanyName. by Yaroslav Biletchenko.
                </div>

            </div>
        </div>
    </div>
</div>